:root {
  --background-dark: #3E1929;
  --background-accent: #845A6D;
  --highlight: #B0DAF1;
  --foreground-light: #8D91C7;
  --foreground-accent: #6E75A8;
  --foreground-dark: #191f3e;
  --text: #d7f1ff;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-dark);
  color: var(--foreground-dark);
}

#logo {
  height: 40px;
  width: 40;
  padding-top: 5px;
  float: left;
  border-radius: 8px;
}

h1 {
  color: var(--highlight);
  font-size: 6em;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--highlight);
  box-shadow: 0 3px 2px 0 var(--background-accent);
}

.smaller-title {
  font-size: 4em;
  margin-top: 0.1em;
}

/* #region  nav */
nav {
  width: 100%;
  height: 50px;
  background-color: var(--foreground-light);
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

nav:nth-child(1) {
  padding-left: 25px;
}

.navlink {
  text-align: center;
  padding: 5px;
  padding-top: 12px;
  color: var(--foreground-dark);
  font-size: 1.3em;
  float: left;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  background-color: var(--foreground-light);
  transition: background-color 0.4s ease;
  transition: color 0.4s ease;
}

.navlink a:hover {
  transition: background-color 0.8s ease;
  background-color: var(--foreground-accent);
  transition: color 0.8s ease;
  color: var(--highlight);
}

#publicLink,
#privateLink {
  cursor: pointer;
}

/* #endregion */

/* #region  Forms */
.mainForm {
  background-color: var(--foreground-light);
  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 40px;

  height: 300px;
  width: 350px;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 1.2em;
}

.mainForm h3 {
  text-align: center;
}

.mainForm label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 1.2em;
}

.formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 1.2em;
  background-color: var(--foreground-light);
  border-radius: 2px;
  border-color: var(--highlight);
  color: var(--foreground-dark);
  padding: 3px 3px;
}

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: var(--foreground-accent);
}

#noteForm {
  width: 70vw;
  height: 70vh;
  margin: 0 auto;
  padding: 3px 2em 10px;
  text-align: center;
  box-shadow: 0 0 3px 3px var(--background-accent);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

#noteform textarea {
  width: 100%;
  height: 70%;
  flex-grow: 1;
}

#noteForm label {
  width: 100%;
  text-align: center;
}

#noteForm input {
  margin-bottom: 10px;
}

#user,
#pass,
#pass2 {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px var(--foreground-light);
}

/* #endregion */

#noteMessage {
  display: none;
  width: 250px;
  position: absolute;
  top: 25vh;
  left: 50vw;
  transform: translateX(-50%);
}

#noteMessage h3 {
  background-color: var(--foreground-accent);
  padding: 10px 10px;
  border-radius: 20px;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 20px;
}

#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
  font-style: italic;
}

/* #region note */
#note {
  z-index: 225;
  margin-top: -20px;
  margin-left: 135px;
  height: 450px;
  width: 300px;
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

.note,
.ad {
  cursor: pointer;
  width: 95%;
  margin: 0 auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 2px solid var(--foreground-light);
  border-radius: 4px;
  background-color: var(--foreground-light);
  padding: 10px;
  min-height: 60px;
  overflow: hidden;
}

.note:hover {
  transition: border-color 0.2s ease-out;
  border-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.5s ease-out;
  background-color: var(--foreground-accent);
}

img.notebook {
  margin-left: 10px;
  margin-right: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
  float: left;
  --shadow-size: 4px;
  box-shadow: 0 0 var(--shadow-size) var(--shadow-size) var(--highlight), inset 0 0 0 var(--shadow-size) var(--highlight);
}

h3.emptyNote {
  width: 400px;
  font-size: 1.5em;
  margin: 5px auto;
  text-align: center;
  color: var(--text);
}

h3.noteContent,
h3.noteTitle {
  float: left;
  width: 65%;
  font-weight: bold;
  font-size: 1.5em;
}

h3.noteContent {
  text-align: left;
  overflow: hidden;
}

.note:first-child {
  margin-top: 10px;
}

.note:last-child {
  margin-bottom: 10px;
}

/* #endregion */

/* not add. i know, probably shouldn't have put these next to each other */
.ad h2 {
  color: var(--highlight);
  font-size: 2em;
  text-align: center;
}

#add {
  width: 75px;
  height: 75px;
  position: fixed;
  top: 90vh;
  left: 93vw;
  transition: all 0.2s ease;
}

#add:hover {
  cursor: pointer;
  width: 80px;
  height: 80px;
  top: 89vh;
  transition: all 0.2s ease;
}

/* #region  note expanded */
.noteExpanded {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: var(--foreground-light);
  width: 70vw;
  height: 60vh;
  margin: 0 auto;
  padding: 3px 2em 10px;
  text-align: center;
  box-shadow: 0 0 3px 3px var(--background-accent);
  border-radius: 20px;
}

.noteExpanded h2 {
  font-size: 3em;
  color: var(--background-dark);
  margin-top: 0;
}

.noteExpanded .noteContent {
  padding: 0 3em;
  padding-top: 1em;
  border-radius: 20px;
  background-color: var(--foreground-dark);
  color: var(--text);
}

.noteExpanded .noteContent,
.noteAuthor {
  text-align: left;
  flex-grow: 1;
}

.noteExpanded span {
  display: flex;
}

#expandedExit,
#expandedExitHover {
  cursor: pointer;
  position: absolute;
  left: 80vw;
  top: 190px;

  width: 40px;
  height: 40px;
}

#expandedExit {
  pointer-events: none;
  z-index: 2;
}

#expandedExitHover {
  z-index: 1;
}

#expandedExitHover:hover {
  z-index: 3;
}

/* #endregion */

#offersWrapper {
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
  padding: 3px 2em 10px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

#offersWrapper h2 {
  color: var(--text);
  margin-bottom: 3em;
}

#offers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#offers div {
  background-color: var(--foreground-light);
  width: 25%;
  border-radius: 20px;
  padding: 0 1em 1em;
}

#offers div button {
  background-color: var(--background-accent);
  color: var(--text);
  border: none;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#offers div button:hover {
  cursor: pointer;
  background-color: var(--background-dark);
}

#offers div button:disabled {
  background-color: var(--foreground-dark);
  cursor: default;
}